run = "cowsay Configure me!"
entrypoint = "README.md"
modules = ["dart-3.4", "docker", "gcloud", "go-1.21", "nix", "nodejs-18", "python-3.10", "web", "zig-0.11"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 9005
externalPort = 3000
